.edit__main {
  background-color: #EBEEF3;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  min-height: 100vh;
}
.edit__container {
  width: 26.7%;
  min-height: 500px;
  background-color: white;
  margin: auto;
  margin-top: 60px;
}
.edit__title {
  margin: auto;
  line-height: 28px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  font-weight: 500;
}
.edit__form {
  width: 84%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.edit__label {
  font-size: 14px;
  width: 100%;
}
.edit__input {
  height: 40px;
  width: 100%;
  display: block;
  border: 1px solid silver;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 10px;
}
.edit__save {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.edit__input__warn {
  border: 1px solid #F5222D;
}
.edit__warning {
  color: #F5222D;
  font-size: 14px;
  // position: absolute;
}
// .edit__avatar {
  
// }
// input[type="file" i]::file-selector-button { 
//   color: transparent;  
// } 