.article {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  // list-style-type: none;
  // text-decoration: none;
  color: black;
}
.article__container {
  width: 75%;
}
.article__title__header {
  display: flex;
  // gap: -10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.article__title {
  color: #1890FF;
  font-size: 20px;
  display: inline-block;
  max-width: 85%;
}
.article__likes {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: auto;
  display: inline-block;
  width: 50px;
  margin-left: 10px;
  // position: absolute;
  // right: auto;
  // margin-right: -10px;
  // margin-right: 10px;
  margin-top: 5px;
  padding-left: 20px;
}
.article__likes::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../../../../heart.png');
  margin-left: -20px;
}
.heart {
  min-width: 16px;
  min-height: 16px;
  background-image: url('../../../../heart.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
  // margin-left: 10px;
  margin-top: 5px;

}
.article__tags {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}
.article__tag {
  padding: 3px 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  font-size: 12px;
}
.article__text {
  font-size: 12px;
  // max-height: 45px;
  overflow-y: scroll;
  line-height: 22px;
}
.article__text__one {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.article__tag_active {
  border: 1px solid #000000;
  color: #000000;
}
.article__author {
  display: flex;
  gap: 12px;
  height: 50px;
}
.article__author__one {
  text-align: end;
}
.article__author__name {
  font-size: 18px;
  white-space: nowrap;
  line-height: 28px;
}
.article__author__date_publication {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.article__author__avatar {
  // background-image: url('../../../../Rectangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.article__read_more {
  margin-bottom: 160px;
}
.main__container {
  min-height: 100vh;
  background-color: #EBEEF3;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
}
.one__article__container {
  width: 65.13%;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: white;
}
.progress {
  height: 7px;
  position: relative !important;
  padding: 0;
  margin: 0;
}
.progress__bar {
  height: 7px;
  position: absolute;
  z-index: 2;
  background-color: #4096ff;
}
.control__container {
  // border: 1px solid red;
  margin-top: 20px;
  // height: 100px;
  // width: 200px;
  display: flex;
  gap: 12px;

  position: relative;
}
.control__delete {
  width: 78px;
  height: 31px;
  border: 1px solid #F5222D;
  color: #F5222D;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  background-color: white;
}
.control__edit {
  display: inline-block;
  width: 65px;
  height: 31px;
  border: 1px solid #52C41A;
  color: #52C41A;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  padding-top: 3px;
}
.modal {
  display: none;
  width: 240px;
  height: 104px;
  background-color: white;
  position: absolute;
  left: 55%;
  top: 5px;
  box-shadow: -1px -1px 7px 0px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
  box-sizing: border-box;
}
.modal::after {
  position: absolute;
  content: "";
  border: 8px solid transparent;
  border-right: 6px solid white;
  left: -12px;
  top: 7px;
  text-shadow: -1px -1px 7px 0px rgba(34, 60, 80, 0.2);
  z-index: 2;
}
.modal__container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.modal__image {
  width: 16px;
  height: 16px;
  background-image: url('../../../../exclamation-circle.png');
  background-position: center;
  background-repeat: no-repeat;
}
.modal__text__warn {
  padding: 0;
  margin: 0;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
  // font-family: Regular;
}
.modal__confirmation {
  width: 80px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.modal__confirmation__no {
  width: 34px;
  height: 24px;
}
.modal__confirmation__yes {
  width: 39px;
  height: 24px;
}