.entrance__main {
  background-color: #EBEEF3;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  min-height: 100vh;
}
.entrance__container {
  width: 26.7%;
  min-height: 374px;
  background-color: white;
  margin: auto;
  margin-top: 60px;
}
.entrance__title {
  margin: auto;
  line-height: 28px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  font-weight: 500;
}
.entrance__form {
  width: 84%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.entrance__label {
  font-size: 14px;
  width: 100%;
}
.entrance__label:nth-child(2) {
  margin-top: 25px;
}
.entrance__input {
  height: 40px;
  width: 100%;
  display: block;
  border: 1px solid silver;
  border-radius: 3px;
  padding-left: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}
.entrance__login {
  height: 40px;
  margin-top: 10px;
}
.entrance__footnote {
  text-align: center;
}
.entrance__link {
  margin-left: 5px;
  color: #1890FF;
}
.entry__warning {
  color: #F5222D;
  font-size: 14px;
  margin-top: 7px;
  display: block;
}